<!-- UserHomepage.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Homepage</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
  <h2>Welcome <%= username %>!</h2>
  <%- include('./partials/navbar.ejs') %>

  <%- include('./partials/postfeed.ejs', { postsData: posts, username: username }) %>

</body>

</html>