<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title>Reset Password</title>
  <script>
    function validatePasswordForm() {
      const password = document.getElementById('password').value;
      const confirmPassword = document.getElementById('confirmPassword').value;

      // Check if passwords match
      if (password !== confirmPassword) {
        const messageSpan = document.getElementById('message');
        messageSpan.innerText = 'Passwords do not match. Please re-enter your password.';
        return false;
      }
      return true;
    }
  </script>
</head>

<body>
  <form method="post" action="/api/auth/reset-password" onsubmit="return validatePasswordForm()">

    <h1>Reset Password</h1>
    <p>Please fill in this form to reset your password.</p>
    <hr />
    <div id="message"></div>
    <div>
      <label for="password"><b>Password</b></label>
      <input type="password" name="password" id="password" required />
    </div>
    <div>
      <label for="confirmPassword"><b>Password</b></label>
      <input type="password" name="confirmPassword" id="confirmPassword" required />
    </div>
    <input type="hidden" name="token" id="tokenInput" required />
    <hr />
    <div><button type="submit">Reset Password</button></div>
  </form>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');
    document.getElementById('tokenInput').value = token;
  </script>
</body>

</html>